{% extends 'base.html.twig' %}

{% block title %}Edit Empresa{% endblock %}

{% block body %}
    <h1>Edit Empresa</h1>

    {{ include('empresa/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('empresa_index') }}">Atras</a>
{% endblock %}
