{% extends 'base.html.twig' %}

{% block title %}New Empresa{% endblock %}

{% block body %}
<div class="container register_form">
    <div class="row justify-content-center">
        <h1>Create new Empresa</h1>
    </div>

    {{ include('empresa/_form.html.twig') }}

    <a href="{{ path('empresa_index') }}">Atras</a>

</div>
{% endblock %}
